// Carrito
.titulo-principal {
    font-size: 36px;
    color: black;
    margin-bottom: 30px;
  }
  
  .formulario-seccion {
    background-color: var(--body-color);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    padding: 30px 40px;
    width: 500px;
    margin-bottom: 30px;
    animation: fadeInUp 0.8s ease;
  }
  
  .subtitulo {
    color: black;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 18px;
  
    .etiqueta {
      font-weight: 600;
      font-size: 16px;
      color: black;
    }
  
    .input {
      padding: 12px 14px;
      border-radius: 10px;
      border: 1px solid #ccc;
      font-size: 16px;
      transition: 0.3s ease;
  
      &:focus {
        border-color: var(--nombre-colo);
        box-shadow: 0 0 8px var(--nombre-colo);
        transform: scale(1.02);
        outline: none;
      }
    }
  
    .boton {
      padding: 14px;
      font-size: 17px;
      background-color: var(--nombre-colo);
      color: white;
      border: none;
      border-radius: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;
      margin-top: 10px;
  
      &:hover {
        background-color: var(--nombre-colo);
        transform: scale(1.03);
      }
    }
  }
  