// Body

body {
    background-color: var(--body-color);
}

.body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "imagen"
        "productos"
        "ofertas"
        "footer";
}