// Forms

// Registro

.registro-form {
  background-color: $body-color;
  padding: 50px 40px;
  border-radius: 20px;
  @include box-shadow(0, 12px, 35px, rgba(0, 0, 0, 0.2));
  width: 500px;
  @include animation(fadeIn, 0.8s);
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    color: black;
  }

  input[type="text"],
  input[type="tel"],
  input[type="password"] {
    padding: 14px 16px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    @include transition(all, 0, 3s);
  }

  input:focus {
    border-color: $nombre-color;
    @include box-shadow(0, 0px, 8px, $nombre-color);
    transform: scale(1.02);
    outline: none;
  }

  input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
    cursor: pointer;
  }

  input[type="submit"] {
    @include button-style
  }
}

// Carrito
.titulo-principal {
  font-size: 36px;
  color: black;
  margin-bottom: 30px;
}

.formulario-seccion {
  background-color: $body-color;
  border-radius: 15px;
  @include box-shadow(0, 10px, 25px, rgba(0, 0, 0, 0.15));
  padding: 30px 40px;
  width: 500px;
  margin-bottom: 30px;
  @include animation(fadeInUp, 0.8s);
}

.subtitulo {
  color: black;
  margin-bottom: 20px;
  font-size: 24px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .etiqueta {
    font-weight: 600;
    font-size: 16px;
    color: black;
  }

  .input {
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    @include transition(all, 0.3s);

    &:focus {
      border-color: $nombre-color;
      @include box-shadow(0, 0px, 8px, $nombre-color);
      transform: scale(1.02);
      outline: none;
    }
  }

  .boton {
    @include button-style
  }
}

.contacto {
  padding: 40px 20px;
  background-color: $body-color;
  font-family: "Afacad Flux", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__titulo {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
    color: black;
    text-align: center;
  }

  &__formulario {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    @include box-shadow(0, 12px, 35px, rgba(0, 0, 0, 0.15));
    display: flex;
    flex-direction: column;
    gap: 20px;

    label {
      font-weight: bold;
      color: #333;
    }

    input,
    textarea {
      padding: 12px 14px;
      border-radius: 10px;
      border: 1px solid #ccc;
      font-size: 15px;
      @include transition(all);

      &:focus {
        border-color: $nombre-color;
        @include box-shadow(0, 0, 8, $nombre-color);
        transform: scale(1.02);
        outline: none;
      }
    }
 }
}